<div class="form_field form_field_{{ field.field_obj.size or 'large' }}">
    <input class="input tel"
           type="tel"
           data-type="tel"
           data-label="{{ field.label }}"
           placeholder="{{ field.label }}{% if field.required %} *{% endif %}"
           pattern="{{ field.conv.regex }}"
           name="{{ field.name }}"
            {% if field.required %}
           required
            {% endif %}/>
    {% if field.error %}
        <span class="error">{{ field.error }}</span>
    {% endif %}
</div>