{% if field.options %}
    <div class="form_field form_field_large radio_list">
        <h2 class="title_small">{{ field.label }}</h2>
        {% if field.error %}
            <span class="error">{{ field.error }}</span>    
        {% endif %}
        <ul class="radio_list">
        {% for title in field.options %}
            {% set field_id = "%s_%s" % (field.name, loop.index) %}
            <li class="radio_item">
            <input type="radio" class="radio"
                   id="{{ field_id }}"
                   name="{{ field.name }}"
                   value="{{ title }}"
                   {% if field.required %} required{% endif %}
                   {% if title == value %} checked{% endif %}/>
                <label hidden="hidden" for="{{ field_id }}" class="radio_tick"></label>
                <label for="{{ field_id }}" class="radio_caption">{{ title }}</label>
           </li>
        {% endfor %}
        </ul>
    </div>
{% endif %}