{% if options %}
    <div class="form_field form_field_large checkbox_list">
        <h2 class="title_small">{{ field.title }}</h2>

        <ul class="checkbox_list subscribe_topics">
            {% for option in options %}
                <li class="checkbox_item">
                    <input type="checkbox"
                           class="checkbox"
                           id="checkbox_{{ field.name }}_{{ loop.index }}"
                           name="{{ field.name }}"
                           value="{{ option.value }}"
                           {%- if option.selected %} checked="checked"{% endif %}>
                    <label hidden="hidden"
                           for="checkbox_{{ field.name }}_{{ loop.index }}"
                           class="checkbox_tick"></label>
                    <label for="checkbox_{{ field.name }}_{{ loop.index }}"
                           class="checkbox_caption">{{ option.title }}</label>
                </li>
            {% endfor %}

        </ul>
    </div>
{% endif %}