{% extends 'base.html' %}

{% block content %}
    <div class="content_in content_in_read content_in_high">
        <div class="col col_wide">

            <h1 class="title_big">{{ letter.title }}</h1>

            <h2 class="title_thin">Пожалуйста, прежде чем отправить обращение, внимательно
                ознакомьтесь со следующей информацией.</h2>

            <div class="read_content">
                {{ replace_tags(env, letter, letter.rules) }}

            </div>

            <a class="button button_blue button_narrow"
               href="{{ view.root.form }}">Отправить обращение</a>
        </div>
    </div>
{% endblock %}
