<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="/cms34-static/css/wysihtml5-content.css">
  <style>
    body{
      padding: 0; margin: 0;
      background: #eef;
      }
    h1 {
      font-size: 16px !important; 
      background: #88e;
      padding: 10px !important;
      color: #fff;
      }
    a { cursor: default; }
  </style>

  </head>
  <body>
  {% if doclink_block %}
    <h1>{{ doclink_block.title }}</h1>
    <ul>
    {% for item in doclink_block.items %}
      {% set obj = item.event or item.page or item.section or item.url %}
      {% if obj %}
      <li><a href="javascript:void(0)">{{ item.title or obj.title}}</a></li>
      {% endif %}
    {% endfor %}
    </ul>
  {% else %}
    <h1>Блок ссылок удалён</h1>
  {% endif %}
  </body>
</html>
