.navigation {
    color: #ffffff;
    font: normal 0.8em Arial, sans-serif;
    -webkit-font-smoothing: auto;
}

.navigation a{
    text-decoration: underline;
    cursor: auto;
}

.navigation .quit {
    display: inline-block;
    width: 16px;
    height: 16px;
    /* Exit by SuperAtic LABS from The Noun Project, published under CC-BY */
    background-image: url(/cms-static/css/../images/exit.svg);
    background-size: 16px 16px;
    font-size: 0px;
    vertical-align: top;
    margin-left: 20px;
    cursor: pointer;
}

[data-preview-hidden] .preview_buttons{
    display:none;
}

[data-preview-hidden]:hover .preview_buttons{
    display:block;
}

[data-preview] .preview_buttons a{
    margin-right: 10px;
    -webkit-font-smoothing: auto;
    font: normal 12px Arial, sans-serif;

    border: none;
    background: #7F8C8D;
    color: #ffffff;
    padding: 5px 8px;
    line-height: 1.3em;
    text-decoration: none;
    text-shadow: none;
    text-align: center;
    margin: -2px 5px;
    cursor: pointer;
    border-radius: 3px;
    min-height: 16px;
}

[data-preview-position="absolute"] .preview_buttons{
    position:absolute;
}
[data-preview-position="absolute_right"] .preview_buttons{
    position:absolute;
    right:5px;
}

.preview-unpublished {
    background-color: #FFEEEE !important;
}