.wysihtml5-toolbar a.btn[data-wysihtml5-command="media"] { background-position: -200px; }
/*.wysihtml5-widget{
    width: 670px;
    }
textarea.wysihtml5{
  max-width: 670px;
  width: 670px;
  }*/

.wysihtml5-toolbar a.btn[data-wysihtml5-command="objectLink"] { background-position: -200px; }
.wysihtml5-toolbar a.btn[data-wysihtml5-command="createLinkAdvanced"] { background-position: -300px; }
.wysihtml5-toolbar a.btn[data-wysihtml5-command="createAnchor"] { background-position: -325px; }

.wysihtml5-toolbar a.btn[data-wysihtml5-command="justifyLeft"] { background-position: -375px; }
.wysihtml5-toolbar a.btn[data-wysihtml5-command="justifyCenter"] { background-position: -400px; }
.wysihtml5-toolbar a.btn[data-wysihtml5-command="justifyRight"] { background-position: -425px; }
.wysihtml5-toolbar a.btn[data-wysihtml5-command="justifyFull"] { background-position: -450px; }


.wysihtml5-widget {
    position: relative;
    height: 400px;
    width: 777px;
    margin-top: 40px;
}


.wysihtml5-sandbox {

    height: 100% !important;
    width: 100% !important;
    margin-bottom: 20px;
}

.wysihtml5-toolbar {
    width: 100%;
    position: absolute;
    top: -34px;
}

.resize-mask {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.resize-mask.active {
    display: block;
}

.resize-handler {

    border-top-left-radius: 20px;
    width: 20px;
    height: 20px;
    top: 100%;
    margin-top: -20px;
    left:100%;
    margin-left: -20px;
    background: rgba(160, 160, 160, 0.5);
    position: absolute;
}

[data-wysihtml5-dialog-field="anchorName"],
[data-wysihtml5-dialog-field="href"] {
    width: 340px;
}
