<div class="input_wrapper">
    {% set query_field = form.get_field('q') %}
    {{ query_field.widget.render() }}
</div>

<button type="submit"
        class="button search_button search_button_small">Найти
</button>

{% if paginator.count >= 1000 %}
    <p class="count_result">Найдено более 1000 результатов</p>
{% else %}
    <p class="count_result">Найдено результатов: {{ paginator.count }}</p>
{% endif %}
<ul class="search_filter">

    {% set filter_field = form.get_field('filter') %}
    {% if filter_field.conv.options()|list|length %}
        {{ filter_field.widget.render() }}
    {% endif %}

</ul>
